<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFOzsyDXtjtRQgYahWQJ5THirDy8n-9HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449405528552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotificationExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutternotification-fd902</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternotification-fd902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449405528552:ios:966415cbe678ca99961c5d</string>
</dict>
</plist>